#forum-posts-container {
	display: grid;
	grid-template-columns: 150px 1fr;
	padding: 5px;
}

.forum-post-content {
	border-left: black;
}

.forum-post-username {
	font-weight: bold;
	color: rgb(102, 44, 17);
}