#navigation-menu {
	display: grid;
	grid-template-columns: 100px 100px 1fr;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	background: #303030;
	height: 40px;
	margin: 0px;
}

.navigation-menu-link {
	color: lightgray;
	text-decoration: none;
}

#home-page-logo {
	font-size: 23;
}

#login-register-link {
	justify-self: right;
}